.c-dashboard-page {
  background-color: #eee;
  height: 30rem;
  max-width: 100%;
  margin: auto;
  margin-top: 3rem;
  padding-top: 1rem;
  position: relative;
}

.c-dashboard-page__main {
  max-width: 20rem;
  margin: auto;
}

.c-dashboard-page__select-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  max-width: 20rem;
  margin: auto;
}

.c-dashboard-page__select {
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  color: #333;
  cursor: pointer;
  padding: 0.5rem;
}

.c-dashboard-page__select-label-container {
  display: flex;
  justify-content: left;
  margin: auto;
}

.c-dashboard-page__selected-item {
  display: block;
  margin-top: 1rem;
  text-align: center;
  width: 100%;
}

.c-dashboard-page__select-label {
  text-align: left;
}

.c-dashboard-page__title {
  text-align: center;
}

.c-tags {
  display: flex;
  margin: auto;
  padding: 0.5rem 0;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.c-tag {
  background-color: #172893;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  color: #fff;
  list-style-type: none;
  padding: 0.5rem 0.75rem;
}

@media screen and (min-width: 48em) {
  .c-dashboard-page {
    max-width: 55%;
  }
}
