.c-dashboard-page {
  padding-top: 1rem;
  max-width: 100%;
  margin: auto;
  margin-top: 3rem;
  height: 30rem;
  background-color: #eee;
}

.c-dashboard-page__select-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  max-width: 20rem;
  margin: auto;
}

.c-dashboard-page__select {
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  color: #333;
  cursor: pointer;
  padding: 0.5rem;
}

.c-dashboard-page__select-label-container {
  display: flex;
  justify-content: left;
  margin: auto;
}

.c-dashboard-page__selected-item {
  display: block;
  margin-top: 1rem;
  text-align: center;
  width: 100%;
}

.c-dashboard-page__select-label {
  text-align: left;
}

.c-dashboard-page__title {
  text-align: center;
}

@media screen and (min-width: 48em) {
  .c-dashboard-page {
    max-width: 75%;
  }
}
