.c-autocomplete {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 20.125rem;
  padding: 1rem 0;
  padding-bottom: 0;
}

.c-autocomplete__input {
  border: 1px solid #ccc;
  max-width: 20rem;
  border-radius: 0.3rem;
  padding: 0.5rem 0.75rem;
}

.c-autocomplete-input--has-list:focus {
  outline: none;
}

.c-autocomplete-input--has-list,
.c-autocomplete-input--has-list:focus {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.c-autocomplete__list-item-count {
  max-width: 20rem;
  border: 1px solid #ccc;
  border-top: none;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  background-color: #ccc;
  font-weight: 600;
  margin: auto;
}

.c-autocomplete__message {
  border: none;
  padding: 0.3rem;
  border-bottom: 1px solid #ccc;
}
